.App {
  text-align: center;
  margin: 10px;
}
.ui-panel {
  margin: 0 0 5px;
}
.main-ticker {
  display: flex;
  height: 90px;
  width: 360px;
  /* border: 1px solid white; */
  background-color: #1b262d;
}
.main-ticker__wrapper {
  flex-grow: 1;
  flex-direction: column;
}
/* .bg-wrap {
  background: #1b262d;
  background: var(--secondary-bg);
} */
*,
:after,
:before {
  box-sizing: inherit;
}
/* .main-ticker__container,
.main-ticker__icon {
  display: flex;
  align-items: center;
} */
.main-ticker_container {
  padding-top: 2px;
  min-height: 55px;
  height: 60px;
  width: 314px;
  display: flex;
}

.main-ticker_icon {
  height: 55px;
  width: 40px;
}

.main-ticker_buttons {
  display: flex;
  align-items: center;
  width: 36px;
  height: 77px;
  /* border: 1px solid hsla(0, 0%, 39.2%, 0.3); */
}
.ui-tooltip--underline {
  text-decoration: underline;
}
.ui-tooltip--cursor-help {
  cursor: help;
}
.ui-tooltip {
  display: inline-block;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.main-ticker_items {
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
*,
:after,
:before {
  box-sizing: inherit;
}
.main-ticker_items div {
  min-width: 125px;
}
*,
:after,
:before {
  box-sizing: inherit;
}

.main-ticker__items p {
  margin: 0;
  font-weight: 200;
  font-size: 12px;
  white-space: nowrap;
}
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--primary-text-color1);
}
h5,
h6 {
  line-height: 110%;
}

span {
  font: 14px Roboto, sans-serif;
}
.show-soft {
  opacity: 0.75;
  font-size: 10px;
  margin: 5px;
}

.main-ticker_rank {
  display: flex;
  height: 20px;
  display: flex;
  align-items: center;
}

.main-ticker_icon {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  background-image: url(https://static.bitfinex.com/images/icons/BTC-alt.svg);
}
.dark-mode .svg-background {
  filter: saturate(0) brightness(180%);
}
.svg-background {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: 50% 50% !important;
  display: block;
}

.dark-mode .app-menu .bfx-green-text,
.bfx-green-text {
  color: #01a781 !important;
}

/* .dark-mode .bfx-red-text,
.dark-red-text,
.red-text-black {
  color: #f05359 !important;
} */

.bfx-red-text {
  color: #f05359 !important;
}

.santiment-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 35px;
  border-left: 1px solid hsla(0, 0%, 39.2%, 0.3);
  height: 100%;
}
